{% extends 'sks/_base_realtime.html' %}
{% load i18n %}
{% block title %}{% trans "Line Chart" %}{% endblock %}

{% block main %}
  {{ table.render }}
<div>
  <form class="form-horizontal" id = "line_chart_nova_log_form">

      <div class="form-group">
          <label for="date_options" class="col-sm-2 control-label">{% trans "Log type:" %}</label>
          <div class="col-sm-2">
            <select data-input-nova-log="select_box_change"
                    id="log_type" name="log_type" class="form-control">
              <option value="info">{% trans "Info" %}</option>
              <option value="debug" selected="selected">{% trans "Debug" %}</option>
              <option value="error">{% trans "Error" %}</option>
              <option value="warning">{% trans "Warning" %}</option>
              <option value="other">{% trans "Other" %}</option>
              <option value="all">{% trans "All" %}</option>
            </select>
          </div>
      </div>
      <div class="form-group">
          <label for="date_options" class="col-sm-2 control-label">{% trans "Period:" %}</label>
          <div class="col-sm-2">
            <select data-input-nova-log="select_box_change"
                    id="period" name="period" class="form-control">
              <option value="10">{% trans "10 seconds" %}</option>
              <option value="20" selected="selected">{% trans "20 seconds" %}</option>
              <option value="30">{% trans "30 seconds" %}</option>
            </select>
          </div>
      </div>
      <div class="form-group" id="date_to">
          <label for="date_to" class="col-sm-2 control-label">{% trans "To:" %}</label>
          <div class="col-sm-10">
            <input data-input-nova-log="date_picker_change"
                   type="text" name="date_to" class="form-control example"/>
          </div>
      </div>

      <div class="form-group" id="date_frm">
          <label for="date_frm" class="col-sm-2 control-label">{% trans "date_frm:" %}</label>
          <div class="col-sm-10">
            <input data-input-nova-log="date_picker_change"
                   type="text" name="date_frm" class="form-control example"/>
          </div>
      </div>
  </form>

</div>

<div id="real_time_line" class="epoch" style="height: 200px; position: relative;" data-epoch-container-id="epoch-container-7">

</div>

{% endblock %}
