{% extends 'docker/base.html' %}
{% load i18n %}
{% block title %}{% trans "Realtime_Panel" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Realtime_Panel") %}
{% endblock page_header %}

{% block main %}

    <div>
        <form class="form-horizontal" id = "line_chart_docker">
{#        <div class="form-group">#}
{#          <label for="date_options" class="col-sm-2 control-label">{% trans "Log type:" %}</label>#}
{#          <div class="col-sm-2">#}
{#            <select data-input-nova-log="select_box_change"#}
{#                    id="log_type" name="log_type" class="form-control">#}
{#              <option value="info">{% trans "Info" %}</option>#}
{#              <option value="debug" selected="selected">{% trans "Debug" %}</option>#}
{#              <option value="error">{% trans "Error" %}</option>#}
{#              <option value="warning">{% trans "Warning" %}</option>#}
{#              <option value="other">{% trans "Other" %}</option>#}
{#              <option value="all">{% trans "All" %}</option>#}
{#            </select>#}
{#          </div>#}
{#        </div>#}
        <div class="form-group" id="date_from">
          <label for="date_from" class="col-sm-2 control-label">{% trans "From:" %}</label>
          <div class="col-sm-10">
            <input data-input-nova-log="date_picker_change"
                   type="text" name="date_from" class="form-control example"/>
          </div>
        </div>
        <div class="form-group" id="date_to">
          <label for="date_to" class="col-sm-2 control-label">{% trans "To:" %}</label>
          <div class="col-sm-10">
            <input data-input-nova-log="date_picker_change"
                   type="text" name="date_to" class="form-control example"/>
          </div>
        </div>
        </form>
    </div>

    <div class="info row detail">
      <div class="col-sm-12">
        <h4>{% trans "Statistics cpu usage logs" %}</h4>
        <hr class="header_rule" />
        <div class="info row detail">
          <div class="col-sm-9 chart_container">
            <div class="chart"
                 data-chart-setup-type="nova_log"
                 data-chart-type="line_chart"
                 data-url="{% url "horizon:docker:realtime_panel:docker_data" %}"
                 data-form-selector='#line_chart_docker'
                 data-legend-selector="#legend"
                 data-smoother-selector="#smoother"
                 data-slider-selector="#slider">
            </div>
            <div id="slider"></div>
            <div class="col-sm-3 legend_container">
              <div id="smoother" title="Smoothing"></div>
              <div id="legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


