{% extends 'sks/_base_line_chart.html' %}
{% load i18n %}
{% block title %}{% trans "Line Chart" %}{% endblock %}

{% block main %}
  {{ table.render }}
<div class="col-md-6">
<div>
  <form class="form-horizontal" id = "line_chart_nova_log_form">

      <div class="form-group">
          <label for="date_options" class="col-sm-2 control-label">{% trans "Log type:" %}</label>
          <div class="col-md-6">
            <select data-input-nova-log="select_box_change"
                    id="log_type" name="log_type" class="form-control">
              <option value="info">{% trans "Info" %}</option>
              <option value="debug" selected="selected">{% trans "Debug" %}</option>
              <option value="error">{% trans "Error" %}</option>
              <option value="warning">{% trans "Warning" %}</option>
              <option value="other">{% trans "Other" %}</option>
              <option value="all">{% trans "All" %}</option>
            </select>
          </div>
      </div>
      <div class="form-group">
          <label for="date_options" class="col-sm-2 control-label">{% trans "Period:" %}</label>
          <div class="col-md-6">
            <select data-input-nova-log="select_box_change"
                    id="period" name="period" class="form-control">
              <option value="10">{% trans "10 seconds" %}</option>
              <option value="20" selected="selected">{% trans "20 seconds" %}</option>
              <option value="30">{% trans "30 seconds" %}</option>
            </select>
          </div>
      </div>
      <div class="form-group" id="date_to">
          <label for="date_to" class="col-sm-2 control-label">{% trans "To:" %}</label>
          <div class="col-sm-10">
            <input data-input-nova-log="date_picker_change"
                   type="text" name="date_to" class="form-control example"/>
          </div>
      </div>
  </form>
</div>
    <div class="info row detail">
      <div class="col-sm-12">
        <h4>{% trans "Statistics nova logs" %}</h4>
        <hr class="header_rule" />
        <div class="info row detail">
          <div class="col-sm-9 chart_container">
            <div class="chart"
                 data-name ='chart 1'
                 data-chart-setup-type="nova_log"
                 data-chart-type="line_chart"
                 data-url="{% url "horizon:sks:line_chart_nova_log_test_lab:samples" %}"
                 data-form-selector='#line_chart_nova_log_form'
{#                 data-form-nova-log-selector='#linechart_general_form_nova_log'#}
                 data-legend-selector="#legend"
                 data-smoother-selector="#smoother"
                 data-slider-selector="#slider">
            </div>
            <div id="slider"></div>
            <div class="col-sm-3 legend_container">
              <div id="smoother" title="Smoothing"></div>
              <div id="legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{#    New chart#}
<div class="col-md-6">
      <div>
        <form class="form-horizontal" id = "line_chart_nova_log_form_2">
          <div class="form-group">
              <label for="date_options" class="col-sm-2 control-label">{% trans "Log type:" %}</label>
              <div class="col-md-6">
                <select data-input-nova-log="select_box_change"
                        id="log_type" name="log_type" class="form-control">
                  <option value="info">{% trans "Info" %}</option>
                  <option value="debug" selected="selected">{% trans "Debug" %}</option>
                  <option value="error">{% trans "Error" %}</option>
                  <option value="warning">{% trans "Warning" %}</option>
                  <option value="other">{% trans "Other" %}</option>
                  <option value="all">{% trans "All" %}</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label for="date_options" class="col-sm-2 control-label">{% trans "Period:" %}</label>
              <div class="col-md-6">
                <select data-input-nova-log="select_box_change"
                        id="period" name="period" class="form-control">
                  <option value="10">{% trans "10 seconds" %}</option>
                  <option value="20" selected="selected">{% trans "20 seconds" %}</option>
                  <option value="30">{% trans "30 seconds" %}</option>
                </select>
              </div>
          </div>
          <div class="form-group" id="date_to">
              <label for="date_to" class="col-sm-2 control-label">{% trans "To:" %}</label>
              <div class="col-sm-10">
                <input data-input-nova-log="date_picker_change"
                       type="text" name="date_to" class="form-control example"/>
              </div>
          </div>
      </form>
    </div>
    <div class="info row detail">
      <div class="col-sm-12">
        <h4>{% trans "Statistics nova logs" %}</h4>
        <hr class="header_rule" />
        <div class="info row detail">
          <div class="col-sm-9 chart_container">
            <div class="chart"
                 data-name ='chart 2'
                 data-chart-setup-type="nova_log"
                 data-chart-type="line_chart"
                 data-url="{% url "horizon:sks:line_chart_nova_log_test_lab:samples" %}"
                 data-form-selector='#line_chart_nova_log_form_2'
{#                 data-form-nova-log-selector='#linechart_general_form_nova_log'#}
                 data-legend-selector="#legend"
                 data-smoother-selector="#smoother"
                 data-slider-selector="#slider">
            </div>
            <div id="slider"></div>
            <div class="col-sm-3 legend_container">
              <div id="smoother" title="Smoothing"></div>
              <div id="legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
