{% extends 'base.html' %}
{% load i18n breadcrumb_nav %}
{% block title %}{% trans "Instance Details"%}{% endblock %}
{##}
{#{% block page_header %}#}
{#  <div class='page-header'>#}
{#    {% breadcrumb_nav %}#}
{#  </div>#}
{#{% endblock %}#}

{% block main %}

<div class="row">
  <div class="col-sm-12">
    <hr>
    <div id="instances">
      {{ instances_table.render }}
    </div>
    <div id="networks">
      {{ networks_table.render }}
    </div>
  </div>
</div>
    <div class="row">
        {% include "sks/test_instance/_agent_list.html" %}
    </div>
{% endblock %}
