{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Pie_Chart_Novalog" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Pie Chart Log Nova") %}
{% endblock page_header %}

{% block main %}
    <div class="row">


        <div class="col-xs-11">
            <div class="docker_text_area">
                <form action="#" id="usrform"class="row">
                    <div class="col-xs-11">
                        <input type="file" id="fileinput">Upload</input>
                    </div>
                    <div class="col-xs-11">
                        <textarea name="comment" rows="10" cols="50" >Enter text here...</textarea>
                    </div>
                    <div class="col-xs-11">
                        <input type="submit" value="save">
                        <button type="button" id="btn_build">Build</button>
                    </div>
                </form>
            </div>
        </div>



        <br ><br>
       {{ table.render }}
   </div>
    <script type="text/javascript">

      function readSingleFile(evt) {
        horizon.ajax.queue({
            url: 'http://localhost:8000/mydashboard/pie_chart_novalog/data',
            type: 'POST',
{#            dataType: 'json',#}
            data: "hello",
            success: function (data) {
                console.log("success");
            },
            error: function () {
                console.log("error");
                console.log(url)
            }

        });
      }

      document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
    </script>
{% endblock %}




