{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Container" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Container") %}
{% endblock page_header %}

{% block main %}
    <div class="row">
        <div class="chart_container">
          <div class="chart"
            data-chart-type="line_chart"
            data-url="{% url 'horizon:mydashboard:container:data'%}"
            data-form-selector='#linechart_general_form'>
          </div>
        </div>

        <form class="form-horizontal" id="linechart_general_form">
            <div class="form-group">
                <label for="meter" class="control-label col-sm-2">{% trans "Container name: " %}:&nbsp;</label>
                <div class="col-sm-10">
                    <select data-line-chart-command="select_box_change"
                            name="test2" id="meter" class="col-sm-w form-control example">
                        {% for a in meters %}
                            <option value="{{ a }}" data-unit="{{ a }}">
                                {{ a }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        <div class="col-sm-12">
            {{ table.render }}
        </div>
    </div>
{% endblock %}


